/* cd means the card, using card as a className it uses the bootstrap styles.  */

/* for adding 9 pixel of space at the top of icon */
.icon {
  margin-top: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

/* for backgroundcolor */
html,
#root {
  background-color: darkslategrey;
}

/* for changing the mouse cursor type */
.movies:hover .box {
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  justify-items: center;
  margin: 0px 20px;
  grid-gap: 20px;
}
.movies {
  display: grid;
  grid-template-rows: repeat(2, 185px);
  justify-items: center;
}
.img img {
  border: 2px solid white;
  border-radius: 2%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 20px 3px rgb(29, 29, 29, 0.5),
    -3px -3px 20px -3px rgb(29, 29, 29, 0.5);
}
.movies:hover .img img {
  transition: transform ease 1s;
  transform: scale(1.02);
}
/* adding img blur to 2 pixels on hover */
.movies:hover .img img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.stack-top {
  text-align: right;
  color: white;
  height: 320px;
  position: relative;
  top: -180px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.5);
  box-shadow: 3px 3px 20px 3px rgb(29, 29, 29, 0.5),
    -3px -3px 20px -3px rgb(29, 29, 29, 0.5);
  transform: scaleY(0);
  transition: transform 0.5s;
}
.figcaption {
  margin: 5px auto;
  width: max-content;
  text-align-last: center;
}
.wrapper .movies:hover .details {
  display: block;
  transform: scaleY(1);
  border-radius: 5px;
}
.trending {
  padding: 10px;
}
.main p {
  text-align: center;
}
.main h5 {
  color: white;
  height: fit-content;
  text-align: center;
}
.main div img {
  display: block;
  margin: 10px auto 10px auto;
}
.rt {
  text-align: center;
}
.details .gen {
  width: auto;
  text-align: center;
  margin: 20px auto 0px auto;
}

.box h6 {
  margin: 0px 0px;

  width: 200px;
  text-align: left;
  white-space: wrap;
  color: white;
  overflow: visible;
  text-overflow: ellipsis;
}
.holder {
  color: white;
  display: grid;
  grid-template-columns: minmax(250px, 1fr);

  grid-template-rows: fit-content 1fr 1fr;
}
.holder_body {
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px 50px;
  justify-self: stretch;
  align-content: center;
}
.poster {
  margin: 0 auto;
  text-align: left;
}
.poster img {
  text-align: right;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid white;
}
.details {
  text-align: left;
  white-space: pre-line;
  color: white;
  overflow: visible;
}
.details p {
  color: grey;
  width: auto;
}
.trailer {
  display: flex;
  padding: 10px 15px; 
  flex-wrap: wrap;
  margin: auto;
  /* overflow-y: hidden; */
  
}

.trailer iframe {
  margin: 0px 20px 5px 0px;
  padding: 10px 15px;
  /* display: block;
  padding: 5px;
  background: #cab;
  transform: rotate(90deg);
  transform-origin: right top; */
}
.others {
  display: grid;
  gap: 10px;
  align-content: space-around;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.home-welcomText {
  color: white;
  text-align: justify;
  margin: 72px auto 0px auto;
  font-size: 2rem;
  width: 90%;
}
.breadcrumbs {
  /* margin-left: 98px; */
  padding: 10px 60px;
  text-align: left;
  width: auto;
  padding-bottom: 20px;
  color: grey;
  font-style: italic;
}
.error {
  text-align: center;
  width: fit-content;
  color: white;
  margin: 20% auto;
}
.error span {
  width: fit-content;
  margin: 0 200px;
}
.error a {
  margin: 0 30%;
}
/* .main .trending ,.searchMsg{
  margin: 60px auto;
} */
/* @media screen and (max-width: 930px) {
  body {
    background-color: blue;
  }
} */

@media screen and (max-width: 320px) {
  .navbar {
    display: flex;
    justify-self: center;
  }
  .navbar button,
  .navbar form {
    margin: 5px auto;
  }
}

@media screen and (max-width: 672px) {
  .trailer {
    margin: 0px !important;
  }
}
